body {
    overflow-x: hidden;
    width: 100%;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background: #f5f5f5;
    min-height: 100%;
    background-attachment: fixed;
}

.bg {
    min-height: 540px;
}

.bg1 {
    /* background: url(../image/unp.jpg) center center/cover no-repeat; */
    min-height: 100vh;
    max-width: 900px;
    margin: auto;

}

@font-face {
    font-family: 'typo';
    src: url('../fonts/typo.ttf');
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
}

.index-panel{
    border-color: #eee;
    max-width: 500px;
    background-color: #fff;
    margin: 40px auto;
    padding: 20px 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.panel {
    border-color: #eee;
    max-width: 750px;
    margin: 40px auto;
    padding: 20px 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.feedback-panel{
    border-color: #eee;
    background-color: #fff;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedback-btn{
    background-color: #8780ec;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.admin-btn{
    background-color: #8780ec;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.title {
    font-family: 'typo';
}

.header {
    background: #ffffff;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.header .header-inside {
    padding: 12px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div .logo {
    font-family: inherit;
    font-size: 19px;
    color: #000000;
    /* margin: 15px; */
    font-weight: 600;
}

.logo img {
    width: 120px;
}

.title1,
i {
    font: 15px "Century Gothic", "Times Roman", sans-serif;
    background-color: transparent;
    font-weight: 500;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}


.sub1 {
    color: #000000;
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
}


.sub {
    width: 100%;
    background-color: #8780ec;
    font-size: 18px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    margin-right: 20px;
}

.sub:hover {
    color: #ffffff;
}

.footer {
    font-size: 15px;
    padding: 50px 250px;
    text-align: center;
    border-top: 1px solid;
    background-color: #2d2d2d;
}

.footer a {
    margin: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    font: 13px "Century Gothic", "Times Roman", sans-serif;

}

.footer a:hover {
    text-decoration: none;
    color: #ffffff;

}

.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 0px;
}

.log1 {
    font: 15px 'Ubuntu', sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 60px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #000000;
    border-color: rgb(0, 0, 0);
    text-decoration: none;
}


.form-control {
    padding: 19px 10px;
    color: #000000;
    border-color: #d9d9d9;
}

.form-control::placeholder {
    color: #000000;
}


.account-header{
    width: 100%;
    padding: 15px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}


.feedback-header {
    padding: 13px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;

}


.feedback-header div .logo {

    font-family: inherit;
    font-size: 19px;
    color: #9F98FF;
    /* margin: 15px; */
    font-weight: 600;
}

.dash-header{
    padding: 12px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}